<h1> Welcome to Tic Tac Toe</h1>

<h1>player_1_is_x please enter you name</h1>
 <!-- please enter you name -->
<form method = "post" action = 'player_1'>

	<input type='text' name = "p1_name">
	<input type='submit'>
	<input type='hidden' name = 'p1_name' value 


</form> 
