<h1> Welcome to Tic Tac Toe</h1>

<p>player_2_is <%= p1_name %></p>

<h1> player_2_is o please enter your name</h1>
<!-- player_2 please enter you name -->
<form method = "post" action = 'player_2'>

	<input type='text' name = 'p2_name'>
	<input type='submit'>
	<input type='hidden' name = 'p1_name' value> 
 

</form> 
